$loader-background-bg: rgba(10, 8, 8);
$loader-background-bg-opacity: 0.5;
$loader-background-primary: $red_primary;
$loader-background-success: #45874f;
$loader-background-danger: $red_primary;
$loader-background-warning: #45874f;
$loader-background-containerDimentions: 60px;
$loader-background-shapeDimentions: 20px;
$loader-background-amount: 10px;

.loader-view {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba($loader-background-bg, $loader-background-bg-opacity);

  .spin {
    @apply animate-spin w-10 h-10 m-auto;

    &:before {
      content: '';
      position: absolute;
      width: $loader-background-containerDimentions;
      height: $loader-background-containerDimentions;
      border-radius: 50%;
      background: $loader-background-primary;
    }
  }
}
