$sidenav-width: 200px;
$sidenav-width-big:342px;

.sidenav {
  width: $sidenav-width;
   &.big{
    width: $sidenav-width-big;
   }
  background-color: color("primary", "lighten-3");
  height: 100vh;
  position: relative;
  .menu-toggle {
    display: none;
  }
  .brand {
    height: 70px;
    padding: 0.5rem 1.5rem;
    .brand-item {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  .navigation {
    padding-top: 10%;
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        &.dynamic-link {
          padding: 0 0 0.5rem 0;
          .nav {
            position: relative;
            cursor: pointer;
            .indicator {
              background: $red-primary;
              width: 4px;
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              border-radius: 3px;
            }
            
            .nav-item-content {
              height: 45px;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              align-items: center;
              
              margin-left: 1.5rem;
              margin-right: 1.5rem;
              // @include transition(all 0.5s);
              &.active {
                background: $color-white;
              }

              &.multi{
                height: 56px;
              }
              
            }
            .nav-sub-item-content {
              height: 40px;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 1rem;
              margin-right: 1.5rem;
              font-size: 14px;
              // @include transition(all 0.5s);
              &.active {
                background: $color-white;
              }
            }
          }
        }
      }
    }
  }
  .custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    width: 171px;
    height: 32px;
    background: #ec4c6b;
    border-radius: 48px;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
    .svg-icon {
      display: flex;
      margin-left: 10px;
      margin-right: 10px;
      align-items: center;
      justify-content: center;
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    .profile-image {
      width: 64px;
      height: 64px;
      bottom: 56px;
      background: #ffffff;
      display: grid;
      place-items: center;
      border-radius: 50%;
      img {
        width: 48px;
        width: 48px;
      }
    }
    .username {
      font-size: 16px;
      margin-bottom: 16px;
    }
    .company {
      font-size: 12px;
      padding-bottom: 0px;
    }
  }
}
